doctype
html
    head
        title #{topic}
        link(rel='stylesheet', href='/assets/stylesheet.css')
        link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    body
        .post_comment.comment.group
            .avatar
                if type === 'gamers_video' && youtube_details.user
                    img(src=youtube_details.user.avatar)
                    div#user_details(data-avatar=youtube_details.user.avatar data-displayname=youtube_details.user.display_name data-channelid=youtube_details.user.channel_id)
                else
                    img(src=avatar)
            .comment_box
                form#ajaxform(method="POST", action="/#{topic}")
                    input(type="hidden", name="type", value=type)
                    if email && token && username
                        if !youtube_options.online
                            a(href=youtube_options.oauth_link target='_parent' class='login') Login to Youtube
                        else
                                textarea(name="comment")
                                input(type="hidden", name="token", value=token)
                                input(type="hidden", name="email", value=email)
                                input(type="hidden", name="username", value=username)
                            if type === 'gamers_video'
                                input#access(type="hidden", name="access_token", value=youtube_details.access_token)
                                input(type="submit", value="Post", class="post-button", style="float:right")
                    else
                            span.login-warning Please login to post

        include ./commentsection.jade

        script(type="text/javascript").
            var total_comments = #{total},
                topic = '#{topic}';
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
        script(type="text/javascript", src="/assets/comments.js")
